.App {
  text-align: center;
}

.rent-container {
  background-color: white;
  width: 750px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 24%) 1px 2px 13px;
}
.rent-picture {
  height: 540px;
  width: 750px;
  object-fit: contain;
}
.rent-price {
  padding: 16px;
  font-size: 30px;
  margin-bottom: 0px;

  /* font-weight: bold; */
}

.rent-company {
  /* padding: 16px; */
  font-size: 32px;
  color: grey;
  /* font-weight: bold; */
  margin-top: 0px;
}

body {
  background-color: whitesmoke;
  font-family: Roboto;
  margin: 16px;
}

.rent-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin: 24px;
}
